h2 {
    color: #2DC1DB;
    position: relative;
    left: 80px;
}
p2 {
    color: #2DC1DB;
    position: relative;
    left: 80px;
}
p {
    border: 1px solid powderblue;
    margin: 20px;
}
body {
    background-color: white;
    text-align: center;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;
}



